profiles
build
gem5_build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen/html
/docs/_build
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/dt/.gen
/system/arm/bootloader/arm/*.o
/system/arm/bootloader/arm/boot.arm
/system/arm/bootloader/arm/boot_emm.arm
/system/arm/bootloader/arm64/*.o
/system/arm/bootloader/arm64/boot.arm64
/system/arm/bootloader/arm64/boot_emm.arm64
smpt_out
/system/arm/bootloader/arm64/boot_v2.arm64
configs/example/memcheck.cfg
configs/dram/lowp_sweep.cfg
.pyenv
.vscode
typings
.DS_Store
ckpts
rundir
plots
*.png
simpts
build**
gem5.build
SimPoint.3.2/**/*.o
SimPoint.3.2/bin/simpoint
SimPoint.3.2/analysiscode/simpoint
BuckBunny_New.264
checkspam.in
cpu2017_mhonarc.rc
gcc-pp.opts-O5_-finline-limit_1000_-fselective-scheduling_-fselective-scheduling2.s
gcc-pp.opts-O5_-finline-limit_24000_-fgcse_-fgcse-las_-fgcse-lm_-fgcse-sm.s
gcc-pp.opts-O5_-fipa-pta.s
ned
omnetpp.ini
puzzles.txt
s.txt
x264_stats.log
x264_stats.log.mbtree
x264_stats.log.temp
x264_stats.log.mbtree.temp
frontend_profiles/*
pgo_bins/*
opt_remark/*
vtune_results/microarch/*
old_results/*
resources